In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
df = pd.read_csv('full_dataset_v3.csv',sep=';')
df.head()

,title,id_stack,tags,views,score,done,label
0,Using entries from other kivy classes,61881920,"['python', 'python-3.x', 'kivy']",12,0,False,python
1,Package python software with pylucene dependency,61896481,"['python', 'docker', 'pip', 'dependencies', 'p...",7,1,False,python
2,Extracting time with regex from a string,61894597,"['python', 'regex']",29,3,False,python
3,How do I add specific headers before each form...,61896721,"['python', 'django']",4,0,False,python
4,Barplot from a dataframe using a column to set...,61896506,"['python', 'pandas', 'bar-chart', 'seaborn', '...",12,0,True,python

In [4]:
df.groupby('label').describe()

           id_stack
              count          mean           std        min          25%
label
R            9185.0  5.925903e+07  9.542595e+06  1330989.0  61901270.00  \
java        16418.0  5.576655e+07  1.487040e+07      123.0  61827414.50
javascript  17897.0  5.748022e+07  1.279066e+07    18985.0  61900750.00
php         12304.0  5.549392e+07  1.496494e+07      146.0  61816750.25
python      19530.0  5.845264e+07  1.125286e+07     2933.0  61909033.50

                                                   views                ...
                   50%          75%         max    count          mean  ...
label                                                                   ...
R           62079996.0  62270061.00  62470616.0   9185.0   2225.793685  ...  \
java        62045749.0  62249187.75  62470650.0  16418.0   9449.874954  ...
javascript  62064869.0  62257117.00  62470679.0  17897.0  12075.814215  ...
php         62055407.0  62262184.50  62470545.0  12304.0   6723.318839  ...
python      62068518.0  62256855.75  62470666.0  19530.0   8051.820533  ...

                               score
             75%        max    count       mean         std   min  25%  50%
label
R           35.0   904473.0   9185.0   1.993794   17.298833  -8.0  0.0  0.0  \
java        52.0  5941339.0  16418.0   7.406383   90.901604 -82.0  0.0  0.0
javascript  40.0  4280894.0  17897.0  11.577639  131.002891  -9.0  0.0  0.0
php         43.0  2908723.0  12304.0   4.453349   63.309093  -8.0  0.0  0.0
python      35.0  3900089.0  19530.0   8.315822  127.868921 -21.0  0.0  0.0


            75%      max
label
R           1.0    761.0
java        1.0   6545.0
javascript  1.0   6877.0
php         1.0   4477.0
python      1.0  10216.0

[5 rows x 24 columns]

In [8]:
df_new = df[['title', 'label']]

In [9]:
df_r = df_new[df_new['label']=='R']
df_r.shape

(9185, 2)

In [14]:
df_java = df_new[df_new['label']=='java']
df_java = df_java.sample(df_r.shape[0])
df_java.shape

(9185, 2)

In [15]:
df_js = df_new[df_new['label']=='javascript']
df_js = df_js.sample(df_r.shape[0])
df_js.shape

(9185, 2)

In [16]:
df_php = df_new[df_new['label']=='php']
df_php = df_php.sample(df_r.shape[0])
df_php.shape

(9185, 2)

In [17]:
df_python = df_new[df_new['label']=='python']
df_python = df_python.sample(df_r.shape[0])
df_python.shape

(9185, 2)

In [21]:
df_balanced = pd.concat([df_r, df_java, df_js, df_php, df_python])
df_balanced.shape

(45925, 2)

In [24]:
df_balanced['label'].value_counts()
df_balanced.sample(10)

                                                   title       label
37141             How to sort array by subarray with Php         php
28789               Cron parser and validation in python      python
58884  troubleshooting suggestions for PHPMailer impl...         php
20389  Which are the best IDE&#39;s forJavascript tha...  javascript
35695  fontawesome onclick icon change angular using ...  javascript
51118  PHP - ask user input for dates and pass to script         php
43292        show/hide div based on the input of textbox  javascript
14909  devtools::check install fails on a package alr...           R
68486  Created package not running functions from imp...           R
49235                      processing fill() nullPointer        java

In [31]:
df_balanced['category'] = df_balanced['label'].apply(lambda x: 0 if x == 'R' else 1 if x == 'java' else 2 if x == 'javascript' else 3 if x == 'php' else 4)
df_balanced.sample(10)

                                                   title       label  category
2436   Encrypting binary data (mp3) with PHP&#39;s op...         php         3
74397                           Javascript On/Off Button  javascript         2
21539  Creating a web app in django that creates a vi...      python         4
46237                   Errors in optim for Arima models           R         0
16445  How to visualise update and later rollback Jav...  javascript         2
27928  Periodically sending messages to clients in Ra...         php         3
4654        what software they encrypted this JavaScript  javascript         2
35083                Merging Data into a long data frame           R         0
16237  Can&#39;t import to Stripe Customer if it has ...  javascript         2
45888              how to implement this Android studio?        java         1